:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --light-border-color: #e1e1e1;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.selected-user .user-info {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    min-height: calc(128px + 1.6rem);
}

.selected-user .user-info .user-detail {
    padding-top: 0.6rem;
    display: inline-block;
    padding-left: 1rem;
}

.selected-user .user-info .user-detail a {
    font-size: 1.5rem;
}

.selected-user .user-info .user-photo {
    padding-top: 0.7rem;
    float: right;
}

.selected-user .user-scrolling {
    font-size: 2.4rem;
    color: var(--border-color);
}

.selected-user .user-scrolling a {
    color: var(--caption-color);
    text-decoration: none;
}

.selected-user .user-scrolling a:visited {
    color: var(--caption-color);
    text-decoration: none;
}

.marked-tab-name {
    border-bottom: 2px solid var(--caption-color)
}