/* article */
.article-box {
    border: 1px solid var(--border-color);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    width: auto;
    margin: 0 auto;
}

.article-box .header {
    border-bottom: 1px solid var(--border-color);
    color: var(--caption-color);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.article-box .field {
    margin: 1.5rem 1rem;
    overflow: hidden;
}

.article-box .field .name {
    text-align: left;
    padding-right: 1rem;
}

.article-box .field .value {
    width: 30rem;
    padding-right: 1rem;
}

.article-box .field input {
    width: 100%;
}

.article-box .field .text-value {
    padding-right: 0.5rem;
}

.article-box .field textarea {
    width: 100%;
}

.article-box .button-field {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

.article-box .button-field input {
    padding: 0.1rem 1.5rem;
}

.article-box .error {
    color: var(--error-color);
    font-size: 0.75rem;
    text-align: center;
}
